<!DOCTYPE html>
<html>

<head>
<meta name="MSSmartTagsPreventParsing" content="TRUE"/>
<meta http-equiv="expires" content="-1"/>
<meta http-equiv= "pragma" content="no-cache"/>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta name="description" content="about"/>
<link rel="stylesheet" type="text/css" href="http://artax.karlin.mff.cuni.cz/~sotam0am/css/photoblog.css"/>
<link rel="stylesheet" type="text/css" href="http://artax.karlin.mff.cuni.cz/~sotam0am/Stanko/css/scrollable-horizontal.css"/>
<link rel="stylesheet "type="text/css "href="http://artax.karlin.mff.cuni.cz/~sotam0am/Stanko/css/scrollable-buttons.css"/>
<script type="text/javascript" src="http://artax.karlin.mff.cuni.cz/~sotam0am/Stanko/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="http://artax.karlin.mff.cuni.cz/~sotam0am/Stanko/js/gallery.js"></script>
<title>{% block head_title %}{% endblock %}</title>

<style>
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
</style>
</head>

<body style="background-image: url(http://artax.karlin.mff.cuni.cz/~sotam0am/texture37285662.jpg); background-repeat: ; background-color: #ffffff; ">
<div id = "container">
    <div id = "header">
    </div>
    
    <div id = "sidebar">
    <h1>About</h1>
    This is my photoblog.
    <h1>Categories</h1>
        {% if categories %}            
            <ul id = "sidebarnav">
                <li><a href="http://gwhitehawk.wonderland.cz">all articles</a></li>
            {% for category in categories %}
                <li><a href="{{category.get_absolute_url}}">{{category.title}}</a></li>
            {% endfor %}
            </ul>        
        {% else %}
            <p>There are no posts.</p>
        {% endif %}
    </div>

{% block content %}

{% endblock %}

<div id = "footer">
<p class="alignleft"><a href="latest/rss"><img src = "http://artax.karlin.mff.cuni.cz/~sotam0am/img/feed-icon-14x14.png"></a></p><p class="alignright">Copyright &copy Miroslava Sotakova, 2012</p>
</div>
</body>
</html>
