{% extends 'blogsource/base.html' %}
{% load photoblog_extras %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
		    <div class = "content">
            <a href="{{post.get_absolute_url}}">{{post.title}}</a>
		    <br>{{post.posted}}
		    <br>{{post.body}}
            {% for link in links|filterlinks:post %}
                <br>
                <div id="image_wrap">
                <img src="{{link.link}}" height="532" />
                </div>
            {% endfor %}
		    </div>
        {% endfor %}
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

{% endblock %}
