{% extends 'blogsource/base.html' %}
{% load photoblog_extras %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
		    <div class = "content">
            <a href="{{post.post.get_absolute_url}}">{{post.post.title}}</a>
		    <br>{{post.post.posted}}
		    <br>{{post.post.body}}

        <!-- images -->   
            {% for link in links|filterlinks:post.post %}
                <br>
                <div id="image_wrap">
                <img src="{{link.link}}" height="532" />
                </div>
            {% endfor %}

        <!-- link to comments -->
            {% if post.has_comments %}
                {% if post.has_comments == 1 %}
                    <br>
                    <a href="{{post.post.get_absolute_url}}#comments">1 comment</a>
                {% else %}
                    <br>
                    <a href="{{post.post.get_absolute_url}}#comments">{{post.has_comments}} comments</a>
                {% endif %}    
            {% endif %}
		    </div>
        {% endfor %}

    <!-- Next/Prev page links  -->
        {% if posts.paginator.num_pages > 1 %}    
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>            
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>     
            
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
{% endblock %}
