{% extends 'base.html' %}
{% block content %}

<div class = "content"> 
<h1>{{post.title}}</h1>
{{post.posted}}<br>
{{post.body}}
{% for link in links %}
    <br>
    <div id="image_wrap">
    <img src="{{link.link}}" height="532" />
    </div>
{% endfor %}

<!-- Comments  -->
{% if comments %}
    <p>Comments:</p>
{% endif %}

{% for comment in comments %}
    <div class="comment">
        <div class="time"><h2>{{ comment.created }} | {{ comment.author }}</h2></div>
        <div class="body"><h2>{{ comment.body|linebreaks }}</h2></div>
    </div>
{% endfor %}

<div id="addc">Add a comment</div>
<!-- Comment form  -->
<form action="{% url blogsource.views.view_post slug=post.slug %}" method="POST">{% csrf_token %}
    <div id="cform">
        {{ form.as_p }}
    </div>
    <div id="submit"><input type="submit" value="Submit"></div>
</form>
</div>
{% endblock %}
